@using WebApp.Models
@model List<WebApp.Models.Speaker>

@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speaker At AngualrU</title>
</head>*@
<body>
    <div>
        @foreach (var speaker in @Model)
        {
            <span>
                @speaker.FirstName @speaker.LastName
            </span>
            <br/>
        }
    </div>
</body>
@*</html>*@
